@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@responsive {
    .bgfooter{
        background-color: #4AA396;
    }
    .footeracolor{
        font-color: #7FD4CC;
    }
    .newsletter{
        background-color: #86D3CD;
    }
    .btncolornews{
        background-color: rgb(74,163,150);
    }
  }

